h1 {
  font-family: 'Righteous';
  font-weight: 500;
}
.container-fluid{
  padding: 4rem 0 0 0;
  background-color: rgba(211, 211, 211, 0.5);
  .heading{
    color: rgba(0, 0, 0, 0.65);
    margin: 0 0 2rem 2rem;
    h1 {
      font-family: 'Righteous';
      font-weight: 500;
    }
  }
  .contact-form{
    p{
      margin-bottom: 30px;
      line-height: 1.7em;
      color: #8A8A8A;
      font-size: 16px;
    }
    .form-control{
      padding:10px;
      height:auto;
      border:solid 1px #BBB;
      -webkit-box-shadow:none;
      -moz-box-shadow:none;
      box-shadow:none;
      border-radius:0;
      vertical-align:middle;
    }
    .form-control:focus{
      border-color:#B7A389;
      -webkit-box-shadow:none;
      -moz-box-shadow:none;
      box-shadow:none;	
    }
    .form-group{
      margin-bottom:25px;
    }
    .alert{
      border-radius:0;
    }
  }

  .footer{
    padding:30px 0;
    border-top:solid 1px #F0F0F0;
  }
  .footer h4{
    font-size:18px;
    letter-spacing:4px;
    margin: 10px 0;
    font-style:italic;
    font-family:'Playfair Display', serif;
    color:#999;
  }
  .footer-social{
    margin:10px 0;
    padding:0;
    list-style:none;
    font-size:0;
  }
  .footer-social > li{
    display:inline-block;
    *display:inline;
    *zoom:1;
    margin-left:30px;
  }
  .footer-social > li > a{
    text-decoration:none;
    height:26px;
    width:26px;
    line-height:26px;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
    display:block;
    text-align:center;
    color:#BBB;
    background:#F0F0F0;
    font-size:0;
  }
  .footer-social > li > a > svg{
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
    display:inline-block;
    *display:inline;
    *zoom:1;
    line-height:inherit;
    width:inherit;
    height:inherit;
    vertical-align:middle;
  }
  .footer-social > li > a > svg:before{
    font-size:14px;
    line-height:1em;
    vertical-align:middle;
  }
  .footer-social > li > a:hover{
    background:#B7A389;
    color:#FFF;
  }
}
