$dark: #222222;
$light: #e9e9e9;

.symp-btn{
	background-color: $dark;
	transition: all ease-in-out .5s;
	&:hover{
		background-color: rgba(22,22,22,0.6);
		box-shadow: 5px 5px 10px #00000080;
	}
	&:disabled{
		cursor: not-allowed;
		background-color: $dark;
		box-shadow: none;
	}
}

.login{
	height: 100%;
	max-width: 600px;
	width: 100%;
	background-color: $light;
	h2{
		margin: 20px 0 10px 0;
	}
	p{
		width: 60%;
		margin: auto;
		margin-bottom: 20px;
	}
	.login-text{
		color: $dark;
	}
}

.login input[type=text]{
	width: 100%;
	height: 40px;
	background: transparent;
  	border: none;
	color: $dark;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 0;
	margin: 10px 0;
	border-bottom: 2px solid rgba(0,0,0,0.6);
}

.login input[type=password]{
	width: 100%;
	height: 40px;
	background: transparent;
	border: none;
  	border-bottom: 2px solid rgba(0,0,0,0.6);
	border-radius: 0;
	color: $dark;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 0;
	margin: 10px 0;
}

.login input[type=text]:focus{
	outline: none;
  	border-bottom: 2px solid rgba(22,22,22,1);
}

.login input[type=password]:focus{
	outline: none;
	border-bottom: 2px solid rgba(22,22,22,1);
}



::-webkit-input-placeholder{
	font-weight: bold;
	color: rgba(22,22,22,0.8);
}

::-moz-input-placeholder{
	font-weight: bold;
	color: rgba(22,22,22,0.8);
}
