<div class="row align-items-center justify-content-center">
	<div class="col-12">
        <div class="login bg-grey p-4 d-block mx-auto">
            <form #form="ngForm" (ngSubmit)="form.valid && submit(form)" class="text-center">
                <h2 class="h2 login-text">{{isSignInForm ? "Sign In" : "Sign Up"}}</h2>
                <p class="text-muted text-center">Join our community to search and explore best pictures present on internet</p>
                <div *ngIf="!isSubmitted" class="w-100">
                    <div class="">
                        <input *ngIf="!isSignInForm" type="text" placeholder="* Enter name" name="name" ngModel required>
                    </div>
                    <div class="">
                        <input type="text" placeholder="* Enter e-mail" name="email" ngModel required>
                    </div>
                    <div class="">
                        <input type="password" placeholder="* Enter password" name="password" ngModel required>
                    </div>
                    <div class="my-2">
                        <div *ngIf="isSignInForm">
                            <button type="submit" class="symp-btn my-2 w-100 d-block" [disabled]="!form.valid">
                                <i class="fas fa-sign-in-alt"></i>
                                <span class="d-inline-block mx-2">Signin</span> 
                            </button>
                            <p class="btn" (click)="toggleForm()">Click here for Sign up</p> 
                        </div>
                        <div *ngIf="!isSignInForm">
                            <button type="submit" class="symp-btn my-2 w-100 d-block" [disabled]="!form.valid">
                                <i class="fas fa-sign"></i> 
                                <span class="d-inline-block mx-2">Signup</span>
                            </button>
                            <p class="btn" (click)="toggleForm()">Click here for Sign in</p> 
                        </div>
                    </div>
                </div>
                <div *ngIf="isSubmitted" class="w-100 pt-3">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                    </div>
                </div>
            </form>
        </div>
	</div>
</div>
