@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
$bermuda: #77d7b9;
$white: #fff;
$black: #000;
$open-sans: 'Open Sans', sans-serif;
.container-fluid{
  padding: 4rem 0;
  background:url('/assets/img/masonry.jpg');
  background-position: center;
  background-size: cover;
  min-height: 105vh;
  background-repeat: no-repeat;
}
.btn{
  border: 1px solid #dee2e6;
}
.bg-custom{
  background: transparent;
}
.heading{
  color: rgba(0, 0, 0, 0.65);
  margin: 0 0 2rem 2rem;
  h1 {
    font-family: 'Righteous';
    font-weight: 500;
  }
}

// Base styles
.card {
    color: gray;
    border: none;
    background: none;
    height: 100%;
    .content {
      background-color: $white;
    }
    .menu-button {
    position: absolute;
    z-index: 999;
    top: 16px;
    right: 16px;
    width: 25px;
    text-align: center;
    // cursor: pointer;
    span {
      width: 5px;
      height: 5px;
      background-color: lighten($black, 50%);
      color: lighten($black, 50%);
      position: relative;
      display: inline-block;
      border-radius: 50%;
      &::after,
      &::before {
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        background-color: currentColor;
        position: absolute;
        border-radius: 50%;
      }
      &::before {
        left: -10px;
      }
      &::after {
        right: -10px;
      }
    }
  }
  .menu-content {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      display: inline-block;
    }
    a {
      color: $white;
    }
    span {
      position: absolute;
      left: 50%;
      top: 0;
      font-size: 10px;
      font-weight: 700;
      font-family: 'Open Sans';
      transform: translate(-50%, 0);
    }
  }
  .wrapper {
    background-color: $white;
    background-position: center!important;
    background-repeat: no-repeat;
    min-height: 500px;
    position: relative;
    overflow: hidden;
    background: 20% 1% / cover no-repeat;
    // box-shadow: 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.2);
    &:hover {
      .data {
        transform: translateY(0);
      }
    }
  }
  .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(100%);
    transition: transform 0.3s;
    .content-custom {
      background: whitesmoke;
      padding: 1em;
      position: relative;
      z-index: 1;
    }
  }
  .author {
    font-size: 12px;
  }
  .title {
    margin-top: 10px;
    a {
      color: lighten($black, 50%);
    }
  }
  .text {
    //height: 100px;
    margin: 0;
  }
}
.date {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $bermuda;
    color: $white;
    padding: 0.8em;
    span {
      display: block;
      text-align: center;
    }
    .day {
      font-weight: 700;
      font-size: 24px;
      text-shadow: 2px 3px 2px rgba($black, 0.18);
    }
    .month {
      text-transform: uppercase;
    }
    .month,
    .year {
      font-size: 12px;
    }
  }
