<div class="row align-items-center justify-content-center">
    <div class="col-8 py-2">
        <h1 class="h1"><i class="fas fa-camera mx-2"></i> Marble Photography</h1>
    </div>
    <div class="w-100"></div>
    <div class="col-8 text-center">
        <p style="font-family:cursive;">“Photography is a way of feeling, of touching, of loving. What you have caught on film is captured forever… It remembers little things, long after you have forgotten everything.”</p>
        <div class="py-2">
            <a (click)="openUploader()" class="symp-btn btn-home m-1"><i class="fas fa-upload"></i> Upload Clicks !</a>
            <a *ngIf="isLogged()" (click)="logout()" class="symp-btn btn-home m-1"><i class="fas fa-lock"></i> Bye {{user && user?.name}} !</a>
        </div>
        <!-- <p class="text-center">— Aaron Siskind</p> -->
    </div>
    <div class="w-100"></div>
</div>
