<div class="container-fluid">
    <div class="row align-items-center heading">
        <div class="col p-0">
            <h1 class="h1" data-aos="fade-left">
                <span *ngIf="!isUploading">
                    Upload
                    <br />&nbsp;&nbsp;Form.
                </span>
                <span *ngIf="isUploading">
                    Uploading...
                    <br />&nbsp;&nbsp;{{uploadCount}}
                </span>
            </h1>
        </div>
    </div>
    <div class="w-100 px-4">
        <div class="row justify-content-md-center">
            <div *ngIf="!isUploading" class="col-12">
                <form class="upload-form" [formGroup]="imageForm" (ngSubmit)="imageForm.valid && submit()">
                    <input type="file" #fileHandler (change)="handleFileInput($event,previewContainer)" hidden multiple/>
                    <div [ngClass]="{'d-none':id}" class="row">
                        <div class="col-12">
                            <div class="form-group text-center preview">
                                <div #previewContainer [ngClass]="{'preview-container' : (cover && cover.length != 0),'d-none' : (cover && cover.length == 0)}" ></div>
                                <span *ngIf="!cover" class="bg-light text-dark p-2 d-block m-2">Image Preview.</span>
                                <span (click)="fileHandler.click()" class="symp-btn text-light" bgColor="#bbb">Add Image</span>        
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="title" placeholder="Album title"/>
                                <small class="text-muted" *ngIf='!imageForm.controls.title.valid && (imageForm.controls.title.dirty || imageForm.controls.title.touched)'><em>Must be 6 character long</em></small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="place" placeholder="Enter Place"/>
                                <small class="text-muted" *ngIf='!imageForm.controls.place.valid && (imageForm.controls.place.dirty || imageForm.controls.place.touched)'><em>Must be 4 character long</em></small>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="group" placeholder="Group Name" />
                                <small class="text-muted" *ngIf='!imageForm.controls.place.valid && (imageForm.controls.place.dirty || imageForm.controls.place.touched)'><em>Must be 4 character long</em></small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="tags" placeholder="Tags with ',' separator" />
                                <small class="text-muted" *ngIf='!imageForm.controls.place.valid && (imageForm.controls.place.dirty || imageForm.controls.place.touched)'><em>This is required field</em></small>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="more" placeholder="Give Url of storage"/>
                                <small class="text-muted" *ngIf='!imageForm.controls.more.valid && (imageForm.controls.more.dirty || imageForm.controls.more.touched)'><em>This is required field</em></small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="author" placeholder="Author Name"/>
                                <small class="text-muted" *ngIf='!imageForm.controls.author.valid && (imageForm.controls.author.dirty || imageForm.controls.author.touched)'><em>Must be 4 character long</em></small>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <select class="form-control" formControlName="private" placeholder="Privacy">
                                    <option value="true">Private</option>
                                    <option value="false">Public</option>
                                </select>
                                <small class="text-muted" *ngIf='!imageForm.controls.private.valid && (imageForm.controls.private.dirty || imageForm.controls.private.touched)'><em>This is required field</em></small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea rows="5" class="form-control" placeholder="Description" formControlName="description" ></textarea>
                        <small class="text-muted" *ngIf='!imageForm.controls.description.valid && (imageForm.controls.description.dirty || imageForm.controls.description.touched)'><em>Maximum of 120 character</em></small>
                    </div>

                    <div class="form-group text-center">
                        <button type="submit" class="symp-btn text-dark" [disabled]="!imageForm.valid">Save Info</button>
                    </div>
                </form>
            </div>
            <div *ngIf="isUploading" class="col-12">
                <div class="pb-4">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>