<div #masonry class="container-fluid">
  <div class="row align-items-center heading">
    <div class="col p-0">
      <h1 class="h1" data-aos="fade-left">
          Recent <br/>&nbsp;&nbsp;Pictures.
      </h1>
    </div>
  </div>
  <div class="row m-0 bg-custom">
    <div class="w-100">
      <div class="card-columns px-4" >
          <div class="custom-card card" *ngFor="let image of paginationItems;let i = index" data-aos="fade-in">
              <div class="wrapper">
                  <img (click)="openLightbox(i)" class="img-fluid" [src]="image.url | previewUrl" [alt]="image.alt">
                  <div class="header">
                      <div class="date">
                            <p class="p">{{ image.day }} <sup>Th</sup> {{ image.month + ', ' + image.year }}</p>
                      </div>
                      <div class="edit" *ngIf="isAdmin() || isUsersFile(image.profile)">
                            <p class="p d-inline" (click)="delete(image,i)">Delete</p>
                            <span> | </span>
                            <p class="p d-inline" (click)="update(image)"> Update</p>
                      </div>
                  </div>
                  <div class="data">
                      <div class="content-custom">
                          <p class="author">By {{ image.author }} </p>
                          <h1 class="title">
                              {{image.title}}
                          </h1>
                          <p class="text">{{image.description}}</p>
                          <div class="icon-container">
                            <span (click)="heart(image._id)" [ngClass]="{'active': image.heart | usersFile}">{{image.heart.length}} <i class="fas fa-heart"></i></span>
                            <span (click)="downloadUrl(image.url)"><i class="fas fa-download"></i></span>
                            <span (click)="like(image._id)" [ngClass]="{'active': image.likes | usersFile}">{{image.likes.length}} <i class="fas fa-thumbs-up"></i></span>
                          </div>
                          <a class="button py-1">Comments</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="w-100">
      <nav aria-label="" class="text-dark my-2">
          <ul class="pagination justify-content-center">
              <li class="page-item">
                  <a class="page-link" (click)="firstPage(masonry)">&lt;&lt;</a>
              </li>
              <li class="page-item">
                  <a class="page-link" (click)="prevPage(masonry)">&lt;</a>
              </li>
              <li class="page-item">
                  <a class="page-link">{{currentpage + 1}}</a>
              </li>
              <li class="page-item">
                  <a class="page-link" (click)="nextPage(masonry)">&gt;</a>
              </li>
              <li class="page-item">
                  <a class="page-link" (click)="lastPage(masonry)">&gt;&gt;</a>
              </li>
          </ul>
      </nav>
    </div>
  </div>
</div>
