/* You can add global styles to this file, and also import other style files */
// @import url('https://fonts.googleapis.com/css?family=Calistoga|Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Cute+Font|Gelasio|Righteous&display=swap');
@import "~owl.carousel/dist/assets/owl.carousel.css";
@import "~owl.carousel/dist/assets/owl.theme.default.css";
@import "~ngx-smart-modal/ngx-smart-modal";
@import "app/app.component";

// font-family: 'Abril Fatface', cursive;
// font-family: 'Righteous', cursive;
// font-family: 'Cute Font', cursive;
// font-family: 'Gelasio', serif;

a {
  text-decoration: none!important;
}

html,body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Gelasio', serif;
}
.lb-outerContainer{
  background: none!important;
}
.nsm-content{
  padding: 0;
  top: 20px;
  background: none;
  box-shadow: none;
}
.nsm-dialog{
  max-width: 1024px;
}
.nsm-body{
  padding: 0;
}
.bg-custom{
    background-color: rgba(211, 211, 211, 0.5);
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Abril Fatface',sans-serif;
}
a{
  cursor: pointer;
}
.owl-theme .owl-nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    margin: 0;
    font-size: 40px;
  color: #454c49b5;
}
.owl-theme .owl-nav .owl-prev,
.owl-theme .owl-nav .owl-next
  {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    &:hover {
      color: #FFF;
      text-decoration: none;
      background: #454c49b5;
    }
}
.shadow-dark{
  box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
}

.symp-btn{
  cursor: pointer;
	display:inline-block;
	*display:inline;
	*zoom:1;
	padding:12px 22px;
	background-color: rgba(255, 255, 255, .5);
	color:#FFF;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
	border:none;
  text-decoration:none !important;
  &:hover{
    background-color: rgba(255, 255, 255, .8);
    color:#FFF;
  }
  &:disabled{
    cursor: not-allowed;
	  background-color: rgba(255, 255, 255, .5);
  }
}
.symp-btn.link-btn{
	background:transparent;
	color:#999;
}
.symp-btn.link-btn > i{
	margin-right:8px;
}
.symp-btn.link-btn:hover{
	color:#333;
	background:transparent;
}

.form-control{
  padding:10px;
  height:auto;
  border:solid 1px #BBB;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  border-radius:0;
  vertical-align:middle;
}
.form-control:focus{
  border-color:#B7A389;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;	
}
.form-group{
  margin-bottom:25px;
}

.bg-lightgray{
	background:#F5F5F5;
}

@media (max-width: 768px){
  .symp-btn{
    font-size: 12px;
    padding: 10px 20px;
  }  
}
@media (max-width: 420px){
  .symp-btn{
    font-size: 8px;
    padding: 8px 16px;
  }  
}

